@import url("https://fonts.googleapis.com/css2?family=Alice&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alice", serif;
}

body {
  background-image: url("./assets/bg-image.jpg");
  background-size: cover;
}

h1 {
  font-size: 2.5rem;
  line-height: 140%;
  padding-bottom: 4px;
}

h2 {
  font-size: 1.62rem;
  line-height: 150%;
  padding-bottom: 4px;
}
p {
  font-size: 1rem;
  line-height: 160%;
  padding: 0.5rem;
}
main {
  padding: 24px;
}

section {
  margin-top: 24px;
}
ul {
  padding-left: 1.5rem;
}
li {
  line-height: 160%;
}
#page {
  max-width: 800px;
  padding: 24px;
  background-color: #f0e8c2;
  margin: 48px auto;
  border-radius: 16px;
}
img {
  border-radius: 16px;
  max-width: 752px;
  max-height: 400px;
}

#footer {
  color: rgb(146, 95, 71);
  text-align: center;
  padding: 24px 48px;
}
#footer > p {
  font-size: 20px;
}

#footer img {
  vertical-align: middle;
}
