* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./assets/bg-image.jpg");
  background-size: cover;
}

#page {
  max-width: 800px;
  padding: 24px;
  background-color: #f0e8c2;
  margin: 48px auto;
  border-radius: 16px;
}
img {
  border-radius: 16px;
  max-width: 752px;
  max-height: 400px;
}
