@import url("https://fonts.googleapis.com/css2?family=Alice&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alice", serif;
}

body {
  background-image: url("./assets/bg-image.jpg");
  background-size: cover;
}

h1 {
  font-size: 2.5rem;
  line-height: 140%;
}

h2 {
  font-size: 1.62rem;
  line-height: 150%;
}
p {
  font-size: 1rem;
  line-height: 150%;
}
main {
  margin: 24px;
}

section {
  margin-top: 24px;
}
#page {
  max-width: 800px;
  padding: 24px;
  background-color: #f0e8c2;
  margin: 48px auto;
  border-radius: 16px;
}
img {
  border-radius: 16px;
  max-width: 752px;
  max-height: 400px;
}
